.box{
    background-color: #24353F;
    width: 65%;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}
.box1{
    width: 65%;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}
.i1,.btn1{
    width: 90% !important;
}
.btn1{
    border-color: #17A2B8;
    color: #17A2B8;
}
.i1::placeholder{
    color: white;
}
.i1:focus{
    border-color: #17A2B8;
    box-shadow: none;
}
.btn1:hover{
    background-color: #17A2B8;
    color: white;
}
.nav1{
    background-color: #24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}